Package: com.zunda.hidenctext
Name: HideNCText
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: zunda
Author: zunda
Section: Tweaks
